## INFSYS 722 - Iteration 4
ID: 168395378
<br/>
Author: Paolo Gabriel Averia Delos Reyes

### 01 - Business Understanding

This section, we describe the business goals and objectives.

Our goal is o study and analyze global water treatment and water consumption. From there, compare the Philippines versus top countries and identify where the Philippines can improve on.

### 02 - Data Understanding

Loading the dataset to grasp what the data looks like.

#### Library imports

In [32]:
# PySpark libraries
import findspark
findspark.init('/home/ubuntu/spark-3.2.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, DoubleType
spark = SparkSession.builder.appName('pdel145_iter4').getOrCreate()

# Strictly for .xlsx datatypes only!
import pandas as pd

# Visualisation
import matplotlib.pyplot as plt

#### Loading the datasets

In [5]:
# Freshwater dataset
freshwater_df = spark.read.csv('data/freshwater.csv', inferSchema=True, header=True)

In [6]:
# Checking for its datatypes
freshwater_df.printSchema()

root
 |-- SDG: integer (nullable = true)
 |-- SDG target: double (nullable = true)
 |-- SDG indicator: string (nullable = true)
 |-- Indicator Code: string (nullable = true)
 |-- Indicator name: string (nullable = true)
 |-- Geographical area code: string (nullable = true)
 |-- Geographical area name: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Value: double (nullable = true)
 |-- Time detail: string (nullable = true)
 |-- Source: string (nullable = true)
 |-- Footnote: string (nullable = true)
 |-- Type of data: string (nullable = true)
 |-- Units: string (nullable = true)
 |-- Age group: string (nullable = true)
 |-- Bounds: string (nullable = true)
 |-- Frequency: string (nullable = true)
 |-- Level/Status: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Type of reporting: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- SDG 6 Data portal level: string (nullable = true)

In [9]:
# Viewing what the dataset contains
freshwater_df.show()

+---+----------+-------------+--------------+--------------------+----------------------+----------------------+----+-----+-----------+--------------------+--------+--------------------+----------+---------+------+---------+------------+--------------------+-----------------+----+-----------------------+
|SDG|SDG target|SDG indicator|Indicator Code|      Indicator name|Geographical area code|Geographical area name|Year|Value|Time detail|              Source|Footnote|        Type of data|     Units|Age group|Bounds|Frequency|Level/Status|            Location|Type of reporting| Sex|SDG 6 Data portal level|
+---+----------+-------------+--------------+--------------------+----------------------+----------------------+----+-----+-----------+--------------------+--------+--------------------+----------+---------+------+---------+------------+--------------------+-----------------+----+-----------------------+
|  6|       6.4|        6.4.2| ER_H2O_STRESS|Level of water st...|               Country|          Turkmenistan|2012|  3.9|  2008-2012|Food and Agricult...|    null|Global monitoring...|      null|     null|  null|     null|        null|                null|             null|null|   6.4.2 Level of wa...|
|  6|       6.4|        6.4.2| ER_H2O_STRESS|Level of water st...|               Country|                Uganda|2012|  3.0|  2008-2012|Food and Agricult...|    null|      Estimated data|Percentage|     null|  null|     null|        null|Services (ISIC4 G...|           Global|null|   6.4.2 Level of wa...|
|  6|       6.4|        6.4.2| ER_H2O_STRESS|Level of water st...|               Country|                Uganda|2012|  3.0|  2008-2012|Food and Agricult...|    null|Global monitoring...|      null|     null|  null|     null|        null|                null|             null|null|   6.4.2 Level of wa...|
|  6|       6.4|        6.4.2| ER_H2O_STRESS|Level of water st...|               Country|               Ukraine|2012| 3.71|  2008-2012|Food and Agricult...|    null|      Estimated data|Percentage|     null|  null|     null|        null|Services (ISIC4 G...|           Global|null|   6.4.2 Level of wa...|
|  6|       6.4|        6.4.2| ER_H2O_STRESS|Level of water st...|               Country|               Ukraine|2012| 3.71|  2008-2012|Food and Agricult...|    null|Global monitoring...|      null|     null|  null|     null|        null|                null|             null|null|   6.4.2 Level of wa...|
|  6|       6.4|        6.4.2| ER_H2O_STRESS|Level of water st...|               Country|       North Macedonia|2012| 2.07|  2008-2012|Food and Agricult...|    null|      Estimated data|Percentage|     null|  null|     null|        null|Services (ISIC4 G...|           Global|null|   6.4.2 Level of wa...|
|  6|       6.4|        6.4.2| ER_H2O_STRESS|Level of water st...|               Country|       North Macedonia|2012| 2.07|  2008-2012|Food and Agricult...|    null|Global monitoring...|      null|     null|  null|     null|        null|                null|             null|null|   6.4.2 Level of wa...|
|  6|       6.4|        6.4.2| ER_H2O_STRESS|Level of water st...|               Country|                 Egypt|2012|17.49|  2008-2012|Food and Agricult...|    null|      Estimated data|Percentage|     null|  null|     null|        null|Services (ISIC4 G...|           Global|null|   6.4.2 Level of wa...|
|  6|       6.4|        6.4.2| ER_H2O_STRESS|Level of water st...|               Country|                 Egypt|2012|17.49|  2008-2012|Food and Agricult...|    null|Global monitoring...|      null|     null|  null|     null|        null|                null|             null|null|   6.4.2 Level of wa...|
|  6|       6.4|        6.4.2| ER_H2O_STRESS|Level of water st...|               Country|  United Kingdom of...|2012| 9.96|  2008-2012|Food and Agricult...|    null|      Estimated data|Percentage|     null|  null|     null|        null|Services (ISIC4 G...|           Global|null|   6.4.2 Level of wa...|
|  6|       6.4|        6.4.2| ER_H2O_STRESS|Level of water st...|               Country|  United Kingdom of...|2012|  9.7|  2008-2012|Food and Agricult...|    null|Global monitoring...|      null|     null|  null|     null|        null|                null|             null|null|   6.4.2 Level of wa...|
|  6|       6.4|        6.4.2| ER_H2O_STRESS|Level of water st...|               Country|       Channel Islands|2012| null|  2008-2012|                null|    null|       Not Available|      null|     null|  null|     null|        null|                null|             null|null|   6.4.2 Level of wa...|
|  6|       6.4|        6.4.2| ER_H2O_STRESS|Level of water st...|               Country|  United Republic o...|2012| 1.32|  2008-2012|Food and Agricult...|    null|      Estimated data|Percentage|     null|  null|     null|        null|Services (ISIC4 G...|           Global|null|   6.4.2 Level of wa...|
|  6|       6.4|        6.4.2| ER_H2O_STRESS|Level of water st...|               Country|  United Republic o...|2012| 1.32|  2008-2012|Food and Agricult...|    null|Global monitoring...|      null|     null|  null|     null|        null|                null|             null|null|   6.4.2 Level of wa...|
|  6|       6.4|        6.4.2| ER_H2O_STRESS|Level of water st...|               Country|  United States of ...|2012| 3.51|  2008-2012|Food and Agricult...|    null|      Estimated data|Percentage|     null|  null|     null|        null|Services (ISIC4 G...|           Global|null|   6.4.2 Level of wa...|
|  6|       6.4|        6.4.2| ER_H2O_STRESS|Level of water st...|               Country|  United States of ...|2012| 3.51|  2008-2012|Food and Agricult...|    null|Global monitoring...|      null|     null|  null|     null|        null|                null|             null|null|   6.4.2 Level of wa...|
|  6|       6.4|        6.4.2| ER_H2O_STRESS|Level of water st...|               Country|          Burkina Faso|2012| 3.59|  2008-2012|Food and Agricult...|    null|      Estimated data|Percentage|     null|  null|     null|        null|Services (ISIC4 G...|           Global|null|   6.4.2 Level of wa...|
|  6|       6.4|        6.4.2| ER_H2O_STRESS|Level of water st...|               Country|          Burkina Faso|2012| 3.59|  2008-2012|Food and Agricult...|    null|Global monitoring...|      null|     null|  null|     null|        null|                null|             null|null|   6.4.2 Level of wa...|
|  6|       6.4|        6.4.2| ER_H2O_STRESS|Level of water st...|               Country|               Uruguay|2012|  1.1|  2008-2012|Food and Agricult...|    null|      Estimated data|Percentage|     null|  null|     null|        null|Services (ISIC4 G...|           Global|null|   6.4.2 Level of wa...|
|  6|       6.4|        6.4.2| ER_H2O_STRESS|Level of water st...|               Country|               Uruguay|2012|  1.1|  2008-2012|Food and Agricult...|    null|Global monitoring...|      null|     null|  null|     null|        null|                null|             null|null|   6.4.2 Level of wa...|
+---+----------+-------------+--------------+--------------------+----------------------+----------------------+----+-----+-----------+--------------------+--------+--------------------+----------+---------+------+---------+------------+--------------------+-----------------+----+-----------------------+
only showing top 20 rows

In [55]:
# Same goes for the rest of the datasets that are of file format .csv
impr_sanit_df = spark.read.csv('data/improved_sanitation.csv', inferSchema=True, header=True)
renewable_df = spark.read.csv('data/renewable.csv', inferSchema=True, header=True)
tot_popul_df = spark.read.csv('data/total_population.csv', inferSchema=True, header=True)

# Reading datasets that are of excel (.xlsx) format
safe_manage_drink_df = spark.createDataFrame(pd.read_excel('data/safely_managed_drinking.xlsx'))
safe_manage_sanit_df = spark.createDataFrame(pd.read_excel('data/safely_managed_sanitation.xlsx'))

TypeError: field Geographical area code: Can not merge type <class 'pyspark.sql.types.DoubleType'> and <class 'pyspark.sql.types.StringType'>